<h1>BTSyncInator</h1>

{{range .}}
  {{if not .APIData.OS.Name}}
    <h2>BTSync Daemon On {{.Name}}, ({{.Addresses.ServerAddrString}}) has nil APIData</h2>
  {{else if .APIData.Error}}
    <h2>BTSync Daemon On {{.Name}}, ({{.Addresses.ServerAddrString}}) has Error {{.APIData.Error}}</h2>
  {{else}}
    <h2>BTSync Daemon On {{.APIData.OS.Name}} machine {{.Name}}, ({{.Addresses.ServerAddrString}})</h2>
    <div>
      {{with .APIData}}
        <ul>
          <li>{{printf "Daemon Read Time: %s" .ReadTime}}</li>
          {{with .Speeds}}
            <li>{{printf "Daemon Download Speed: %d" .Download}}</li>
            <li>{{printf "Daemon Upload Speed: %d" .Upload}}</li>
          {{end}}
        </ul>
        {{range .Folders}}
        <h4>
          {{with .Folder}}
            {{printf "Share %s" .Dir}}
            {{printf "is %d Bytes," .Size}}
            {{printf "and is %s." .Type}}
            {{printf "It has %d files and folders," .Files}}
            {{printf "an error code of %d," .Error}}
            {{printf "and has an indexing status of %b." .Indexing}}
          {{end}}
        </h4>
        <ul>
          {{with .Secrets}}
            <li>{{printf "RW Secret: %s" .ReadWrite}}</li>
            <li>{{printf "RO Secret: %s" .ReadOnly}}</li>
            <li>{{printf "Encryption Secret: %s" .Encryption}}</li>
          {{end}}
          <li>Only syncs with:</li>
          {{range .SyncHosts}}
            <li>{{printf "%s" .}}</li>
          {{end}}
        </ul>
        {{end}}
      {{end}}
    </div>
  {{end}}
{{end}}
