<h1>BTSyncInator</h1>

{{range .}}
  {{ $daemonName := .Name }}
  <div style="border:2px solid #a1a1a1; border-radius:25px; padding:10px 40px 10px 40px; background:#dddddd;" >
  {{if not .APIData.OS.Name}}
    <h2>BTSync Daemon On {{.Name}}, ({{.Addresses.ServerAddrString}}) has nil APIData</h2>
  {{else if .APIData.Error}}
    <h2>BTSync Daemon On {{.Name}}, ({{.Addresses.ServerAddrString}}) has Error {{.APIData.Error}}</h2>
  {{else}}
    <h2>BTSync Daemon On {{.APIData.OS.Name}} machine {{.Name}}</h2>
    <div>
      {{with .APIData}}
        <ul>
          {{with .Speeds}}
            <li>{{printf "Daemon Download Speed: %d" .Download}}</li>
            <li>{{printf "Daemon Upload Speed: %d" .Upload}}</li>
          {{end}}
        </ul>
        <form action="/folder/add/new" method="POST">
          <input type="hidden" name="DaemonName" value='{{$daemonName}}'>
          <textarea name="FullPath" rows="1" cols="30">{{printf "%s" "/full/path"}}</textarea>
          <input type="submit" value="Add a folder to Sync (generate new Secrets)">
        </form>
        <form action="/folder/add/existing" method="POST">
          <input type="hidden" name="DaemonName" value='{{$daemonName}}'>
          <textarea name="FullPath" rows="1" cols="30">{{printf "%s" "/full/path"}}</textarea>
          <textarea name="Secret" rows="1" cols="35">{{printf "%s" "ReadWrite or ReadOnly Secret"}}</textarea>
          <input type="submit" value="Add a folder to Sync (with existing Secret)">
        </form>
        {{range .Folders}}
        <div style="border:2px solid #a1a1a1; border-radius:25px; padding:5px 20px 5px 20px; background:#B0B0B0;" >
        <h4>
          <form action="/folder/remove" method="POST">
            {{with .Folder}}
              {{printf "Synced directory %s" .Dir}}
              {{printf "is %d Bytes," .Size}}
              {{printf "and is %s." .Type}}
              {{printf "It has %d files and folders," .Files}}
              {{printf "an error code of %d," .Error}}
              {{printf "and has an indexing status of %b." .Indexing}}
            {{end}}
            <input type="hidden" name="DaemonName" value='{{$daemonName}}'>
            <input type="hidden" name="RemoveSecret" value='{{.Secrets.ReadWrite}}'>
            <input type="submit" value="Remove this Sync">
          </form>
        </h4>
        <ul>
          {{with .Secrets}}
            <li>{{printf "RW Secret: %s" .ReadWrite}}</li>
            <li>{{printf "RO Secret: %s" .ReadOnly}}</li>
          {{end}}
          <li>Only syncs with:</li>
          {{range .SyncHosts}}
            <li>{{printf "%s" .}}</li>
          {{end}}
        </ul>
        </div>
        {{end}}
      {{end}}
    </div>
    <div>
    </div>
  {{end}}
  </div>
{{end}}
